
clr-modal {
  max-width: 500px; 
  border-radius: 8px; 
}

.modal-title {
  font-size: 1.5rem; 
  color: #333; 
  font-weight: bold;
}

.modal-body {
  padding: 20px; 
  font-size: 1rem; 
  color: #555; 
}

clr-alert {
  margin-bottom: 20px; 
  padding: 10px; 
}

.alert-text {
  font-size: 1rem; 
  color: #d9534f; 
}

.modal-footer {
  padding: 10px 20px; 
  text-align: right; 
  background-color: #f7f7f7; 
  border-top: 1px solid #ddd; 
}

.btn {
  font-size: 1rem; 
  padding: 10px 20px; 
  border-radius: 4px; 
}

.btn-outline {
  border-color: #007bff; 
  color: #007bff; 
}

.btn-outline:hover {
  background-color: #e7f0ff; 
}

.btn-danger {
  background-color: #d9534f; 
  color: white; 
}

.btn-danger:hover {
  background-color: #c9302c; 
}

::ng-deep .modal-body-wrapper{
  background-color: white;
}

::ng-deep .modal-title{
  background-color: #bacae7;
  padding: 20px;
}

::ng-deep .modal-header--accessible{
  background-color: #bacae7;
}

